@import url("https //fonts.googleapis.com/css family=poppins");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

header {
  text-transform: uppercase;
  background-color: rgb(76, 137, 176);
  color: white;
  text-align: center;
  padding: 40px;
  font-size: 22px;
}

body {
  background-color: rgb(243, 243, 243);
}

.container {
  padding: 25px 200px;
  display: grid;
  grid-template-columns: 8fr 1fr;
  column-gap: 5px;
}

.search {
  margin-bottom: 8px;
}

input {
  padding-left: 20px;
  grid-column: 1;
  border-radius: 8px;
  border: 3px solid rgb(255, 255, 255);
  outline: 0;
  border-width: 0 0 2px;
}

input:focus {
  border-color: blue;
}

input::placeholder {
  overflow: visible;
}

button {
  float: right;
  background-color: rgb(216, 0, 0);
  border: none;
  color: white;
  padding: 10px;
  border-radius: 0.7em;
  margin-right: 30px;
}

button:hover {
  cursor: pointer;
}

#result {
  margin: 10px 200px;
}

#result h1 {
  padding-bottom: 20px;
}

/* Custom Classes to manipulate how the result div looks */

.hero_list ul {
  /*When the user doesn't type anything in the input field*/
  padding: 30px;
}

.no_hero p {
  /*When the user doesn't specify a superhero in the php list in the input field*/
  color: red;
  text-transform: uppercase;
  font-weight: 800;
}

/*When the user searches for a superhero that's in the php list in the input field*/

.found_hero h3,
h4 {
  text-transform: uppercase;
  font-weight: 700;
}

.found_hero h4 {
  margin-bottom: 20px;
}

/* Footer */

footer {
  margin-top: 50px;
  margin-left: 200px;
}
